<!DOCTYPE html>
<html>
<html lang="en">
  <head>
    <title>AliceGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </head>

  <body>
  
<body>
			<nav id="sidenav" class="navbar navbar-dark bg-dark collapse show width">
				<a class="navbar-brand" href="#">Navbar</a>

				<div id="navbarColor02">
					<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">Pricing</a>
					</li>
					<li class="nav-item">
					<a class="nav-link" href="#">About</a>
					</li>
					</ul>
				</div>
			</nav>	

	<div class="container">

		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<button role="button" class="btn btn-danger" data-toggle="collapse" data-target="#sidenav">
			Show
		</button>
		<%= yield %>
	</div>
</div>
  </body>
</html>
